

@media screen and (max-width: 600px){
    .nav-bar{
        flex-direction: column;
        padding: 15px 0px;
        margin: 0 auto;
} 

    .nav-logo{
         font-size: 3.5rem;

    }

    .nav-bar ul{
        flex-direction: column;
        gap: 2rem;
        width: 100%;
}
    .nav-bar li a{
        font-size: 1.6rem;
        margin: 0 auto;
}
.nav-bar li {
    margin: 0px auto;





}
.content{
    flex-direction: column;
    margin: 0;
    width: 100%;
}
.img-section img{
    max-width: 398px;
    height: 500px;
    width: 100%;
}
.play-title{
    color: #0B0223;
    font-size: 2rem;
    text-align: center;
    padding:0 20px;
    width: 100%;
}
.play-name{
    font-size: 2.5rem;
    text-align: center;
    padding: 0px;
    margin: 0;
}
.play-info{
   text-align: center;
   
}
.gammer-container{
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
}
.gammer-content{
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
   
}
.gammer-description{
    font-size: 0.9rem;
    text-align: center;
    margin: 0 auto;
   
}
.gammer-purpose{
    font-size: 1.1rem;
    text-align: center;
    margin: 0 auto;
   
}
.gammer-img img{
    max-width: 390px;
    height: 350px;
    margin: 0 auto;
}
.btn-btn{
   margin-right: 50px;
    
}
/* .btn-btn-btn{
    margin-left: 150px;
} */
.btn{
  margin-left: 140px;
}
.video-title{
    font-size: 2rem;
    text-align: center;
    margin: 0px 20px;
    padding-bottom: 15px;

    

}
.video-des{
    text-align: center;
    font-size: 1.1rem;
    margin: 0px 20px
    padding-bottom: 15px;
  
}
.video-content{
    flex-direction: column;
    margin: 0 auto;
    
    
}
.video-content img{
    max-width: 1050px;
    height: 280px;
    width: 100%;
    margin: 0 auto;
    

}
.no-download, .no-download{
    font-size: .8rem;
    text-align: center;
   


}
.threed-section{
    flex-direction: column;
    padding: 0px;
    margin: 0 auto;
   
}
.downloads-img img{
    max-width: 320px;
    height: 450px;
    width: 100%;
    
}

.beel-title{
    font-size: 2.5rem;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    

   
}
.beel-des{
    text-align: center;
    color: #534C64;
    font-size: 1.2rem;
    padding-right: 10px;
    margin-left: 10px;
    margin: auto;
    
}
.careers-section{
    flex-direction: column;
    margin: 0;
    padding: 0;
   background-color: 100%;
    
}
.careers-img img{
    width: 100%;
    max-width: 513px;
    height: 421px;
    margin: 0;
    padding: 0;
}
.careers{
    font-size: 3rem;
    margin-top: 40px
        
    
}
.careers-info{
   
    width: 299px;
    height: 154px;
    margin-right: 125px;
    
}
.aba{
    margin-right: 150px;
    gap: 5rem;
}
.careers-title{
    margin-left: 3.5rem;
    margin-bottom: 50px;
}
.btn-see-all{
    font-size: 0.6rem;
    padding: 10px;
    margin: 0;
}
.artist{
    margin-bottom: 0.8rem;
}
.games-key{

    /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 120px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
}
.gamer-key{
    padding: 0;
    margin: 0;
}
.logo-items{
    font-size: 0.6rem;
    max-width:200px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.footer-section{
    
    text-align: center;
    margin: 0px;
    padding: 30px 0;
}
.footer-content {
    text-align: center;
   
}
.footer-content a{
    padding: 30px 20px;
   
}
.footr-icons {
    text-align: center;



}
.footr-icons a{
    padding: 20px;
    text-align: center;
 }
 .footer-container {
    padding: 10px;
    text-align: center;
}
.footer-container a{
    padding: 0px 15px;
    
}
.copy-right{
    font-size: 1rem;
}
}





@media screen and (min-width: 600px) and (max-width: 992px){
  
    
    .nav-bar{
        flex-direction: column;
        
} 
.nav-bar{
      
}



.nav-logo{
    font-size: 2.5rem;
    
}




.nav-bar li{
   margin: 0px auto;
}

}